{% extends 'base.html' %}
{% load static %}  
{% load crispy_forms_tags %}
{% block content %}
{% if companies %}
<br>
<div class="container-fluid">
    <div class="row">
        {% for company in companies %}
            <div class="col-auto">
                <div class="card border-primary mb-4">
                        {% if company.logo %}
                        <img style="height: 200px; width: 100%; display: block;" src="{{ company.logo.url }}" alt="Card image">
                        {% else %}
                        <img style="height: 200px; width: 100%; display: block;" src="{% static 'images/company.jpeg' %}" alt="Card image">
                        {% endif %}
                    <div class="card-body">
                        <h4 class="card-title">{{ company.name }}</h4>
                        <p class="card-text">{{ company.description }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Super-Dream Company : {{company.is_dream}}</li>
                        <li class="list-group-item">Starting Salary : {{company.starting_salary}}</li>
                    </ul>
                    <div class="card-footer text-muted">
                        {% if request.user.is_staff %}
                        <a data-bs-toggle="modal" data-id="{{company.id}}" class="edit-company">
                        <button class="btn btn-primary" id="edit" data-bs-toggle="modal" data-bs-target="#EditCompanyModal">Edit</button>
                        </a>
                        <div class="modal fade" id="EditCompanyModal">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                          
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h4 class="modal-title">Edit Company</h4>
                                  <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                                </div>
                          
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <form method = "post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div>
                                        {{ addform.name|as_crispy_field }}
                                        </div>
                                        <br>
                                        <div>
                                            {{ addform.description|as_crispy_field }}
                                        </div>
                                        <br>
                                        <div>
                                            {{ addform.logo|as_crispy_field }}
                                        </div>
                                        <br>
                                        <div>
                                            {{ addform.is_dream|as_crispy_field }}
                                        </div>
                                        <br>
                                        <div>
                                            {{ addform.starting_salary|as_crispy_field }}
                                        </div>
                                        <br>
                                        <button class="btn btn-primary" type="submit" id="sub" name="updatecompany" value="{{company.id}}">Update</button>
                                    </form>
                                </div>
                              </div>
                            </div>
                          </div>

                          <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                          <script>
                            $(document).on("click", ".edit-company", function () {
                             var id = $(this).attr('data-id');
                             $(".modal-body #sub").val( id );
                            });
                          </script>
                        <form name = "deletecompany" action = "{% url 'company' %}" 
                        method = "POST" >{% csrf_token %}
                            <button class="btn btn-danger mt-2" name="deletecompany" type="submit" value="{{company.id}}">Delete</button>
                        </form>
                        <a href="{% url 'createform' company.id %}">
                            <button class="btn btn-success mt-2" name="createappform" type="submit" value="{{company.id}}">Create Form</button>
                        </a>
                        {% else %}
                        <button class="btn btn-success">Apply</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">No Companies Added !! </h4>
    <p>admins can add companies. Come back when a company is added.</p>
</div>
{% endif %}

{% if request.user.is_staff %}
<div class="form-group" style="margin-top: 12%; float:right; position: relative; ">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <button class="btn btn-success btn-circle btn-xl" id="add" data-bs-toggle="modal" data-bs-target="#AddCompanyModal">Add</button>
    </div>
</div>
{% endif %}

<div class="modal fade" id="AddCompanyModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Company</h4>
          <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <form method = "post" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                {{ addform.name|as_crispy_field }}
                </div>
                <br>
                <div>
                    {{ addform.description|as_crispy_field }}
                </div>
                <br>
                <div>
                    {{ addform.logo|as_crispy_field }}
                </div>
                <br>
                <div>
                    {{ addform.is_dream|as_crispy_field }}
                </div>
                <br>
                <div>
                    {{ addform.starting_salary|as_crispy_field }}
                </div>
                <br>
                <button class="btn btn-primary" type="submit" name="addcompany" value="1">Submit</button>
            </form>
        </div>
      </div>
    </div>
  </div>

<style type="text/css">
    .btn-circle.btn-xl {
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        border-radius: 35px;
        font-size: 20px;
        text-align: center;
    }
    #add 
    {
        position: fixed;
        right: 10px;
        bottom: 10px;
    }
</style>

{% endblock content %}