{% extends 'base.html' %}
{% load static %}  
{% load crispy_forms_tags %}
{% block content %}

<link href="{% static 'css/placement_status.css' %}" rel="stylesheet"> 

<div class="container">
    <br>
    <div class="row">
        <div class="col md-6">
            <input type="text" id="myInput" onkeyup="search()" placeholder="Search for names..">
        </div>
    </div>
    <p></p>
    <table class="table table-bordered table-hover table-dark" id="myTable">
        <thead>
        <tr>
            <th scope="col">Roll No</th>
            <th scope="col">Name</th>
            <th scope="col">Day 0</th>
            <th scope="col">Day 1</th>
            <th scope="col">Day 2</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
        </tr>
        </tbody>
    </table>
</div>


<script>
    function search() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
    
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
</script>

{% endblock content %}