{% extends 'base.html' %}
{% load static %}  
{% load crispy_forms_tags %}
{% block content %}
<link href="{% static 'css/profile.css' %}" rel="stylesheet"> 
<style type="text/css">
    .desc {
      overflow-wrap: break-word;
    }
</style>
    
          
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8 mx-auto">
            <br>
            <h2 class="h3 mb-4 page-title">{{title}}</h2>
            <div class="desc">
            <p>{{description}}</p>
            </div>
            <div class="my-4">
                <form name = "applicationform" action = "{% url 'createform' %}" 
                method = "POST" >{% csrf_token %}
                    <hr class="my-4" />
                    {% for field in form %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{field|as_crispy_field}}
                            </div>
                            <p></p>
                        </div>
                    {% endfor %}
                    <br>
                    <button type="submit" class="btn btn-primary" name="save" value="1">Save Form</button>
                    <button type="submit" class="btn btn-success ms-4" name="back" value="1">Back</button>
                    <input type="text" hidden name="params" value="{{params}}"/>
                </form>
                {% if messages %}
                    <p></p>
                    {% for message in messages %}
                    <div class="alert alert-danger">
                        {{message}}
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}