{% extends 'base.html' %}
{% load static %}  
{% load crispy_forms_tags %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<p></p>
<div class="container">
    <form method = "post" action="{% url 'report' %}">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="card ">
                <div class="card-header">
                    <h3>Yearly Report</h3>
                    <select style="width: 300px;" data-placeholder="Select year" multiple="multiple" name="yearly-select" class="chosen-select" id="yearly-select">
                        {% for option in year_options %}
                        <option>{{option.placed_year}}</option>
                        {% endfor %}
                    </select>
                </div>
                {% if bar_plot %}
                <div class="card-block filter yearly-bar">
                    {% autoescape off %}     
                    {{bar_plot}}  
                    {% endautoescape %}
                </div>
                {% endif %}
                {% if pie_plot %}
                <div class="card-block filter yearly-pie">
                    {% autoescape off %}     
                    {{pie_plot}}  
                    {% endautoescape %}
                </div>
                {% endif %}
                {% if scatter_plot %}
                <div class="card-block filter yearly-scatter">
                    {% autoescape off %}     
                    {{scatter_plot}}  
                    {% endautoescape %}
                </div>
                <div class="card-block">
                    <button  type="button" class="btn btn-primary filter-button" data-filter="yearly-bar">Bar Plot</button>
                    <button  type="button" class="btn btn-primary filter-button" data-filter="yearly-pie">Pie Plot</button>
                    <button  type="button" class="btn btn-primary filter-button" data-filter="yearly-scatter">Scatter Plot</button>
                </div>
                {% endif %}
                <br>
                <div class="card-footer">
                    <button type="submit" name="yearly" value="1" class="btn btn-primary">Generate Report</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="card ">
                <div class="card-header">
                    <h3>Quarterly Sales</h3>
                </div>
                <div class="card-block">
                    <p>
                        Quarterly Sales reports show that the campaign made tremendous progress towards the end of the period. 
                        This signifies important changes as opposed to last-year campaign, which demonstrated equal growth. 
                        It underlines the necessety of regular reports, to detect such changes in earlier stages.                         
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="card ">
                <div class="card-header">
                    <h3>Quarterly Sales</h3>
                </div>
                <div class="card-block">
                    <div id="performance2" style="height: 270px;"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="card ">
                <div class="card-header">
                    <h3>Visits Stats</h3>
                </div>
                <div class="card-block">
                    <p>
                        Campaign budgets have proven to have little influence over the predictability and stable flow of visitors. 
                        This underlines the necessity for additioal statistics and further analysis. 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="card ">
                <div class="card-header">
                    <h3>Quarterly Sales</h3>
                </div>
                <div class="card-block">
                    <div id="performance3" style="height: 270px;"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="card ">
                <div class="card-header">
                    <h3>Budget Stats</h3>
                </div>
                <div class="card-block">
                    <p>
                        The budget report is in par with the initial business plan. No deviations were detected. 
                        Better funding is not guaranteed to have direct sales impact, unless further analysis is performed. 
                    </p>
                </div>
            </div>
        </div>
    </div>  
    </form>
</div>


<script>
    $(".chosen-select").chosen({
    no_results_text: "Oops, nothing found!"
  })
  </script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>

$(document).ready(function(){
    $('.filter').hide();
    $('.filter.yearly-bar').show()

$(".filter-button").click(function(){
    var value = $(this).attr('data-filter');
    $('.filter').not('.'+value).hide('3000');
    $('.filter').filter('.'+value).show('3000');
});

});
</script>
{% endblock content %}

