{% extends 'base.html' %}
{% load static %}  
{% block content %}

<section class="vh-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Create Student Credentials</p>
  
                  
                    <h4>Instructions:</h4>
                    <p>
                        1. Upload a csv/excel file containing student email ids
                    </p>
                    <p>
                        2. Email ids should be the 1st column 
                    </p>
                    <p>
                        3. System will discard duplicates if any
                    </p>
                    <p>
                        4. System will create login credentials for each email
                    </p>
                    <p>
                        5. Download file containing student login credentials
                    </p>

                        <form action="{% url 'student_cred' %}"  method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file"
                                   title="Upload excel file"
                                   name="excel_file"
                                   required="required">
                            <p></p>
                            

                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" class="btn btn-primary btn-lg">Register Students</button>
                    </div>
                    </form>
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-danger">
                            {{message}}
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}